<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgl114.improveddiceroller">
<!-- Screen is locked to portrait mode... I don't see a need for landscape with this app -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/deckard_cain"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/deckard_cain"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImprovedDiceRoller">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickerActivity"
            android:label="Dice Settings"
            android:screenOrientation="portrait"/>
    </application>

</manifest>